# .env.example
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=7390-8699-5625
S3_BUCKET=log-anomaly-detection-artifacts-739086995625

SAGEMAKER_ROLE=arn:aws:iam::7390-8699-5625:role/SageMakerRole
SAGEMAKER_ENDPOINT=log-anomaly-endpoint

ALERT_EMAIL=your-email@example.com
